<nav class="navbar">
    <div class="navbar-container">
        <ul class="navbar-menu">
        <li class="navbar-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="navbar-item"><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li class="navbar-item"><a routerLink="/search" routerLinkActive="active">Search</a></li>
        </ul>
    </div>
</nav>


<!-- <nav class="navbar">
    <div class="navbar-container">
        <ul class="navbar-menu">
            <li class="navbar-item"> <a>Home</a></li>
            <li class="navbar-item"> <a>About Us</a></li>
            <li class="navbar-item"> <a>Search Component</a></li>
        </ul>
    </div>
</nav> -->